<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete <%=data.heading%></title>
    <link rel="stylesheet" href="/styles/output.css" />
</head>
<body>
    <div class="h-screen w-screen flex flex-col gap-4 justify-center items-center relative">
        <form action="/blog/<%=data.id%>" method="get" class="absolute z-20 top-[5%] right-[5%]">
            <button class="flex text-sm py-1 px-2 items-center gap-2 border-[1px] border-black sm:py-2 sm:px-4 rounded-md" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M760-240v-120q0-57.69-41.15-98.85Q677.69-500 620-500H236.85l164 164-28.54 28.31L160-520l212.31-212.31L400.85-704l-164 164H620q74.54 0 127.27 52.73Q800-434.54 800-360v120h-40Z"/></svg> Go back</button>
        </form>
       <h2 class="font-semibold text-2xl mt-4"><b>Post id:</b>&nbsp;<%=data.id%></h2>
       <form  method="post" action="/blog/<%=data.id%>?_method=DELETE" class="flex flex-col gap-4 w-3/4 sm:w-1/2">
        <div class="flex flex-col gap-1">
            <label for="id">Post id</label>
            <input type="text" placeholder="Enter post id" required name="id" class="bg-gray-100 border border-[rgba(0,0,0,0.2)] p-2 rounded-md">
        </div>
        <button class="text-lg text-white text-center p-3 rounded-md bg-red-600 w-full md:w-1/2 mx-auto my-2">Delete Post</button>
       </form>
    </div>

</body>
</html>